.image-loader{
    border-style: solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    
}

.image{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: cover;
    /* bouncing animation */
    animation: bounce 1s ease-in-out infinite;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}